.footer {
  display: flex;
  width: 100%;
}

.footer-column {
  width: 50%;
}

.last {
  display: flex;
  justify-content: flex-end;
}

.last ul {
  list-style: none;
  display: inline;
  display: flex;
  justify-content: flex-end;
}
