footer {
  margin: 30px 0 0 0;
  width: 100%;
  bottom: 0;
  background-color: $darker-blue;
}

footer .container {
  display: flex;
}

.footer-column {
  width: 50%;
  align-self: flex-start;
}

.last {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.last ul {
  list-style: none;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-column h3 {
  font-size: 24px;
  color: $body-color;
}

.footer-column p {
  font-size: 16px;
  font-style: italic;
}
