.game-grid {
  display: grid;
  grid-template-columns: none;
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  // max-width: 400px;
  // width: 35vw;
  // max-height: 400px;
  // height: 40vh;
  border: $border-style;
}

.game-grid > div {
  border: 1px solid black;
}

.one {
  @include grid(1,1);
}

.two {
  @include grid(2,1);
}

.three {
  @include grid(3,1);
}

.four {
  @include grid(4,1);
}

.five {
  @include grid(5,1);
}

.six {
  @include grid(1,2);
}

.seven {
  @include grid(2,2);
}

.eight {
  @include grid(3,2);
}

.nine {
  @include grid(4,2);
}

.ten {
  @include grid(5,2);
}

.eleven {
  @include grid(1,3);
}

.twelve {
  @include grid(2,3);
}

.thirteen {
  @include grid(3,3);
}

.fourteen {
  @include grid(4,3);
}

.fifteen {
  @include grid(5,3);
}

.sixteen {
  @include grid(1,4);
}

.seventeen {
  @include grid(2,4);
}

.eighteen {
  @include grid(3,4);
}

.nineteen {
  @include grid(4,4);
}

.twenty {
  @include grid(5,4);
}

.twenty-one {
  @include grid(1,5);
}

.twenty-two {
  @include grid(2,5);
}

.twenty-three {
  @include grid(3,5);
}

.twenty-four {
  @include grid(4,5);
}

.twenty-five {
  @include grid(5,5);
}
