.game-grid {
  display: grid;
  grid-gap: 0.3vw;
  width: 50%;
  height: 100%;
  // border: $border-style;
  margin-bottom: 40px;
}

.items-box {
  margin-left: 15px;
  // border: $border-style;
  margin-bottom: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  img {
    width: 50%;
    height: 50%;
    animation: rotate 250ms 1 200ms;
  }
}

.items-box img:hover {
  transform: rotate(30deg);
}

.floor-one {
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 10vw 10vw 10vw;
  }

.one {
  @include grid(1,1);
}

.two {
  @include grid(2,1);
  width: 100%;
  height: 100%;
  @include controlers;
  }

.three {
  @include grid(3,1);

}

.four {
  @include grid(1,2);
  @include controlers;
  width: 100%;
  height: 100%;
}

.five {
  @include grid(2,2);
}

.six {
  @include grid(3,2);
  @include controlers;
  width: 100%;
  height: 100%;
}

.seven {
  @include grid(1,3);
}

.eight {
  @include grid(2,3);
  @include controlers;
  width: 100%;
  height: 100%;
}

.nine {
  @include grid(3,3);
}

.two:hover, .four:hover, .six:hover, .eight:hover {
  background-color: $darker-blue;
}



// .floor-three {
//   grid-template-columns: 1fr 1fr;
//   grid-auto-rows: 10vw 10vw;
//   width: 50%;
//   border: $border-style;
// }
//
// .one-three {
//   @include grid(1,1);
// }
//
// .two-three {
//   @include grid(2,1);
// }
//
// .three-three {
//   @include grid(1,2);
// }
//
// .four-three {
//   @include grid(2,2);
// }
//
// .floor-two, .floor-three {
//   display: none;
// }
