.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner-text {
  width: 800px;
  height: 400px;
  margin: 0 10% 0 10%;
  display: flex;
  justify-content: center;
  background-image: url('../img/spash_title.png');
  background-repeat: no-repeat;
  background-position: center;
  border: $border-style;
}

.play-banner a {
  display: flex;
  justify-content: center;
}

.play-banner img {
  position: relative;
  width: 40vw;
  height: 40%;

}
.play-banner h2 {
  position: absolute;
  align-self: center;
  width: 20vw;
  z-index: 1;
  font-size: 3em;
  margin:  -15px 0 0 -15px;
  text-align: center;
}

.play-banner {
  text-align: center;
  height: auto;
  flex-wrap: wrap;
  // margin: 10px;
  // background-image: url("../img/sticky-note.png");
  // background-repeat: no-repeat;
  // background-size: contain;
  }

.instruction-link {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}

@media screen and(max-width: 900px) {

  .play-banner h2 {
    font-size: 5vw;
  }

}
