.instruction-link:hover .instructions {
  display: block;
  width: 100%;
}
//
.instruction-link:hover {
  display: block;
  text-align: center;
}

.instructions {
  display: none;
  height: 30vh;
  border: 3px solid $darker-blue;
}
