.instruction-link:hover .instructions {
  display: block;
  width: 100%;
}
//
.instruction-link:hover {
  display: block;
  text-align: center;
  margin: 0 0 0 0;
}

.instructions {
  display: none;
  height: 20vh;
  border: $border-style;
}

.instructions-body {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.instructions img {
  width: 30%;
}

.instruction-link {
  margin: 0 0 20vh 0;
}
