
nav ul {
  list-style: none;
  display: inline;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 10px;
  display: flex;
}

.fa-bars {
  display: none;
}

.fa {
  font-size: 30px;
}

nav li:hover {
  animation: rotate 1s;
}

@media screen and(max-width: 700px) {

  .banner-text {
    margin: 0
  }

  .play-banner, .instruction-link {
    // width: 100%;
    height: auto;
  }

  nav ul {
    display: none;
  }

  .fa-bars {
    display: block;
    margin-bottom: 80px;
  }

  nav:hover ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  nav:hover .fa-bars {
    margin-bottom: 0px;
  }

}
