@import url("https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Open+Sans:700");
@font-face {
  font-family: 'Fink-Roman';
  src: url("../fonts/FinkBold.ttf"); }
/* For testing only */
/* End for testing */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; }

body, html {
  color: #fdfeff;
  background-color: rgba(183, 195, 210, 0.6);
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3 {
  font-family: 'Love Ya Like A Sister', cursive;
  color: #C2192E; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 35px; }

a {
  color: white; }

a:hover {
  color: #677585; }

.container {
  padding: 30px 30px 0 30px;
  height: auto; }

.footer {
  display: flex;
  width: 100%; }

.footer-column {
  width: 50%; }

.last {
  display: flex;
  justify-content: flex-end; }

.last ul {
  list-style: none;
  display: inline;
  display: flex;
  justify-content: flex-end; }

.instruction-link:hover .instructions {
  display: block;
  width: 100%; }

.instruction-link:hover {
  display: block;
  text-align: center;
  margin: 0 0 0 0; }

.instructions {
  display: none;
  height: 20vh;
  border: 6px solid #677585; }

.instructions-body {
  align-items: center;
  display: flex;
  justify-content: flex-start; }

.instructions img {
  width: 30%; }

.instruction-link {
  margin: 0 0 20vh 0; }

nav ul {
  list-style: none;
  display: inline;
  display: flex;
  justify-content: flex-start; }

nav li {
  margin: 10px; }

.fa-bars {
  display: none; }

.fa {
  font-size: 30px; }

@media screen and (max-width: 700px) {
  .banner-text {
    margin: 0; }

  .play-banner, .instruction-link {
    height: auto; }

  nav ul {
    display: none; }

  .fa-bars {
    display: block;
    margin-bottom: 80px; }

  nav:hover ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; }

  nav:hover .fa-bars {
    margin-bottom: 0px; } }
.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.banner-text {
  width: 800px;
  height: 400px;
  margin: 0 10% 0 10%;
  display: flex;
  justify-content: center;
  background-image: url("../img/spash_title.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid #677585; }

.play-banner a {
  display: flex;
  justify-content: center; }

.play-banner img {
  position: relative;
  width: 40vw;
  height: 40%; }

.play-banner h2 {
  position: absolute;
  align-self: center;
  width: 20vw;
  z-index: 1;
  font-size: 3em;
  margin: -15px 0 0 -15px;
  text-align: center; }

.play-banner {
  text-align: center;
  height: auto;
  flex-wrap: wrap; }

.instruction-link {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto; }

.left {
  width: 20%;
  display: flex;
  align-items: stretch; }

.half-hero {
  flex-direction: column;
  display: flex;
  justify-content: flex-start; }

.side-box {
  width: 100%; }

.side-box a {
  display: flex;
  justify-content: center;
  align-items: center; }

.side-box img {
  width: 90%;
  position: relative; }

.side-box h3 {
  position: absolute;
  align-self: center;
  z-index: 1;
  font-size: 4vw;
  text-align: center;
  width: 10vw;
  margin: -10px 0 0 -15px; }

.game-area {
  max-width: 800px;
  width: 65vw;
  max-height: 400px;
  height: 40vh;
  border: 6px solid #677585; }

@media screen and (max-width: 900px) {
  .play-banner h2 {
    font-size: 5vw; }

  .side-box h3 {
    margin: -5px 0 0 -5px; } }
.game-grid {
  display: grid;
  grid-template-columns: none;
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  border: 6px solid #677585; }

.game-grid > div {
  border: 1px solid black; }

.one {
  grid-column: 0.2;
  grid-row: 0.2; }

.two {
  grid-column: 0.4;
  grid-row: 0.2; }

.three {
  grid-column: 0.6;
  grid-row: 0.2; }

.four {
  grid-column: 0.8;
  grid-row: 0.2; }

.five {
  grid-column: 1;
  grid-row: 0.2; }

.six {
  grid-column: 0.2;
  grid-row: 0.4; }

.seven {
  grid-column: 0.4;
  grid-row: 0.4; }

.eight {
  grid-column: 0.6;
  grid-row: 0.4; }

.nine {
  grid-column: 0.8;
  grid-row: 0.4; }

.ten {
  grid-column: 1;
  grid-row: 0.4; }

.eleven {
  grid-column: 0.2;
  grid-row: 0.6; }

.twelve {
  grid-column: 0.4;
  grid-row: 0.6; }

.thirteen {
  grid-column: 0.6;
  grid-row: 0.6; }

.fourteen {
  grid-column: 0.8;
  grid-row: 0.6; }

.fifteen {
  grid-column: 1;
  grid-row: 0.6; }

.sixteen {
  grid-column: 0.2;
  grid-row: 0.8; }

.seventeen {
  grid-column: 0.4;
  grid-row: 0.8; }

.eighteen {
  grid-column: 0.6;
  grid-row: 0.8; }

.nineteen {
  grid-column: 0.8;
  grid-row: 0.8; }

.twenty {
  grid-column: 1;
  grid-row: 0.8; }

.twenty-one {
  grid-column: 0.2;
  grid-row: 1; }

.twenty-two {
  grid-column: 0.4;
  grid-row: 1; }

.twenty-three {
  grid-column: 0.6;
  grid-row: 1; }

.twenty-four {
  grid-column: 0.8;
  grid-row: 1; }

.twenty-five {
  grid-column: 1;
  grid-row: 1; }

/*# sourceMappingURL=styles.css.map */
