@using GroupProjectC.Models;
@{
  Layout = "_Layout";
}

<div class="container">

<!-- top navigation area -->
  <nav>
    <i class="fa fa-bars" aria-hidden="true"></i>
    <ul>
      <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    </ul>
  </nav>

<!-- main content area - "hero" expands down to the end of the page since we don't have a footer on this page. -->

  <div class="hero">

<!-- sticky notes area -->
    <div class="left">
      <div class="half-hero">
        <div class="side-box">
          <a href="Save">
            <h3>Save Game</h3>
          </a>
          <img src="/img/sticky-note.png" alt="">
        </div>
        <div class="side-box">
          <a href="Save">
            <h3>Save Game</h3>
          </a>
          <img src="/img/sticky-note.png" alt="">
        </div>
      </div>
    </div>

    <!-- contains game play area, grid of rooms, and an empty box for items to display -->
    <div class="right">
      <div class="half-hero">

        <!-- big box at top of screen, meant to display information about each room (cell) the player enters. -->
        <div class="game-area">
          <br>
          <h4>@Model.GetRoom().GetName() , @Model.GetCell().GetName()</h4>
          <br>
          <p>@Model.GetCell().GetDescription()</p>
        </div>

        <div class="gridboard">

        <!-- "floor-two" and "floor-three" are hidden by default. "floor-one" and "floor-two" aree identical at this point, and "floor-three" is a simpe two-by-two grid" -->
          <div class="game-grid floor-one">
            <div class="one"></div>
            <div class="two">
              <form action="/mv_up" method="post">
                <button type="submit" name="button">North</button>
              </form>
            </div>
            <div class="three"></div>
            <div class="four">
              <form action="/mv_lt" method="post">
                <button type="submit" name="button">West</button>
              </form>
            </div>
            <div class="five"></div>
            <div class="six">
              <form action="/mv_rt" method="post">
                <button type="submit" name="button">East</button>
              </form>
            </div>
            <div class="seven"></div>
            <div class="eight">
              <form action="/mv_dn" method="post">
                <button type="submit" name="button">South</button>
              </form>
            </div>
            <div class="nine"></div>
          </div>

          <!-- <div class="game-grid floor-two">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>
            <div class="six"></div>
            <div class="seven"></div>
            <div class="eight"></div>
            <div class="nine"></div>
          </div>

          <div class="game-grid floor-three">
            <div class="one-three"></div>
            <div class="two-three"></div>
            <div class="three-four"></div>
            <div class="four-three"></div>
          </div> -->

        <!-- this is an empty div at this point, but meant to display a list of items the player currently has in posession. -->
          <div class="items-box">
            <img src="/img/golden_dino.png" alt="Golden Dino">
            <img src="/img/keyboard.png" alt="Keyboard">
            <img src="/img/keycard2.png" alt="Keycard">
            <img src="/img/red_stapler.png" alt="Red Stapler">
          </div>

        </div>

      </div>
    </div>

    <div class="instruction-link">
      <h3>Instructions</h3>
      <div class="instructions">
        <div class="instructions-body">
          <p>Congratulations, Epicodus Student! You’ve made it to your internship at Pacific Northwest Tech. You enter the building, but now you need to find the office for onboarding. Use the arrow keys to navigate the building. There are three floors and various rooms to find your way through. Pick up any item that might be helpful in your journey. Good luck on your first day as an intern!</p>
        </div>
      </div>
    </div>
</div>

</div>
