@{
  Layout = "_Layout";
}

<div class="container">

<nav>
  <i class="fa fa-bars" aria-hidden="true"></i>
  <ul>
    <li><img src="/img/keycard2.png" alt=""></i></li>
    <li><img src="/img/red_stapler.png" alt=""></i></li>
    <li><img src="/img/golden_dino.png" alt=""></li>
  </ul>
</nav>

<div class="hero">
  <div class="banner-text">
  </div>
  <div class="play-banner">
    <a href="New">
      <h2>New Game</h2>
      <img src="/img/sticky-note.png" alt="sticky-note">
    </a>
  </div>
  <div class="play-banner">
    <a href="Save">
      <h2>Load Previous Game</h2>
      <img src="/img/sticky-note.png" alt="sticky-note">
    </a>
  </div>

  <div class="instruction-link">
    <h3>Instructions</h3>
    <div class="instructions">
      <div class="instructions-body">
        <img src="/img/bill_lose.png" alt="Bill Lose">
        <p>Congratulations, Epicodus Student! You’ve made it to your internship at Pacific Northwest Tech. Select new player, or pick up where you left off. Good luck on your first day as an intern!</p>
      </div>
    </div>
  </div>

  </div>
</div>

  <footer>
    <div class="container">
      <div class="footer-column">
        <h3>Game Creation Credits</h3>
        <p>Mark Woodward - Lead Engineer and Game Designer</p>
        <p>Emily Wells Jimenez - Production Lead, Game Artist, & Writer</p>
        <p>Jessie Waite - UI and Design Lead</p>
        <p>James Osborn - Consultant and QA Lead</p>
      </div>
      <div class="footer-column last">
        <h3>Connect With us on Social Media!</h3>
        <ul>
          <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
          <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitch" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </footer>
