@{
  Layout = "_Layout";
}

<div class="container">

<!-- top navigation area -->
  <nav>
    <i class="fa fa-bars" aria-hidden="true"></i>
    <ul>
      <li><i class="fa fa-music" aria-hidden="true"></i></li>
      <li><i class="fa fa-volume-up" aria-hidden="true"></i></li>
      <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    </ul>
  </nav>

<!-- main content area - "hero" expands down to the end of the page since we don't have a footer on this page. -->

  <div class="hero">

    <div class="game-area">
      <h2>Enter New Player Details:</h2>
      <form action="/newgame" method="post" >
        <input type="text" name="player-name" placeholder="Player's Name Here">
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="play-banner">
      <a href="Game">
        <h2>Play Game</h2>
        <img src="/img/sticky-note.png" alt="sticky-note">
      </a>
    </div>
    <div class="play-banner">
      <a href="Save">
        <h2>Load Previous Game</h2>
        <img src="/img/sticky-note.png" alt="sticky-note">
      </a>
    </div>

</div>
