/* For testing only */


/* End for testing */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

$body-color: rgba(183,195,210, 0.6);
$text-color: rgba(253, 254, 255, 1);
$darker-blue: rgba(103,117,133, 1);
$red-text: #C2192E;

body, html {
  height: 100%;
  background-color: $body-color;
  color: $text-color;
}

h1, h2, h3 {
  font-family: 'Fink-Roman';
  color: $red-text;
}

h2 {
  font-size: 40px;
}

a {
  color: white;
}

a:hover {
  color: $darker-blue;
}

.container {
  padding: 30px;
}
