/* For testing only */


/* End for testing */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;

}
html, body {
    height: 100%;
}

body {
  color: $text-color;
  background-color: $body-color;
  font-family: 'Open Sans', sans-serif;
}

// body {
//   height: 100%;
// }

h1, h2, h3, h4 {
  font-family: 'Love Ya Like A Sister', cursive;
  color: $red-text;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 20px;
}

a {
  color: white;
}

a:hover {
  color: $darker-blue;
}

.container {
  padding: 0 30px 0 30px;
  height: 100%;
}
