/* For testing only */


/* End for testing */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;

}



body, html {
  color: $text-color;
  background-color: $body-color;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Love Ya Like A Sister', cursive;
  color: $red-text;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

a {
  color: white;
}

a:hover {
  color: $darker-blue;
}

.container {
  padding: 30px 30px 0 30px;
  height: auto;
}
